h1 {
    text-align: center;
}

section {
    width: 50%;
        height: auto;
        display: inline-block;
        margin-bottom: 10px
}

    article img {
        width: 50%;
        height: auto;
        display: flex;
        margin-bottom: 10px;
    }